@import 'normalize.scss';
@import 'essentials.scss';
@import 'components/functions.scss';
@import 'components/colors.scss';
@import 'components/typography.scss';
@import 'components/navigation.scss';
@import 'components/search.scss';
@import 'components/cookie.scss';
@import 'components/buttons.scss';
@import 'components/forms.scss';
@import 'components/watson.scss';

@import 'components/modules.scss';

/*
	****************** Content ******************
*/

.whitepaper__tekst {
	position: relative;
	&:after {
		position: absolute;
		bottom: 0;
		height: 100%;
		width: 100%;
		content: "";
		background: linear-gradient(to top, rgba(255,255,255, 1) 10%, rgba(255,255,255, 0) 70% );
		pointer-events: none;
	}
}

.whitepaper__iframe {
	max-width: 700px;
	margin: -50px auto 0 auto;
	position: relative;
	z-index: 1;
	iframe {
		width: 100%;
		height: 450px;
	}
}

.klantverhaal {
	&__single {
		&:last-of-type {
			padding-bottom: 50px;
		}
		&--underline {
		  border-bottom: 1px solid $e-office;
		  margin-bottom: 20px;
		  padding-bottom: 30px;
		  display: flex;
		  align-items: center;
		  flex-wrap: wrap;
		}
		&--icon {
		  display: flex;
		  align-items: center;
		  @media (min-width: $tablet) {
		    padding: 0 30px;
		  }
		  img {
		    max-height: 80px;
		  }
		}
	}
	&__single-tekst {
		a {
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
		p {
			font-size: 18px;
			line-height: 30px;
			color: $black;
		}
		&--titel {
			font-size: 30px;
			color: $black;
			line-height: 1.5;
			border-bottom: 1px solid #fff;
			display: inline;
			&:hover {
				color: $e-office;
				border-bottom: 1px solid $e-office;
			}
		}
	}
}

.klantverhaal__home {
	&--tekst {
		display: none;
		@media (min-width: $desktop) {
			padding-left: 40px;
			padding-right: 40px;
		}
		h3 {
			font-size: 30px;
			color: $black;
		}
		p {
			font-size: 20px;
			line-height: 1.5;
			color: $black;
			font-style: italic;
			quotes: "“" "”" "‘" "’";
			&:before {
		    content: open-quote;
			}
			&:after {
			    content: close-quote;
			}
		}
		a {
			font-size: 20px;
			border-bottom: 1px solid #fff;
     	font-size: 20px;
    	color: $e-office;
    	@include link_border($black, $e-office_light);
		}
	}
	&--logo {
		cursor: pointer;
		margin-bottom: 40px;
		img {
			filter: grayscale(100%);
			width: 150px;
			height: auto;
			padding: 0 10px;
			&:hover {
				filter: grayscale(0);
			}
		}
	}
}

.logo--active img {
	filter: grayscale(0);
}

.story--active {
	display: block;
}


.verhalen {
	&__content {
		&--titel {
			font-size: 30px;
			border-bottom: solid 1px #fff;
    		padding-bottom: 4px;
    		display: table;
			&:hover {
				color: $e-office;
				border-bottom: solid 1px $e-office;
    			padding-bottom: 4px;
    			display: table;
			}
		}
		&--tekst p {
			font-size: 18px;
			line-height: 1.5;
		}
	}
}

body {
	background-color: $gallery;
	&.fixed {
		overflow: hidden;
	}
}

a {
	text-decoration: underline;
	color: $e-office;
	&:hover {
		color: $e-office_dark;
	}
	img {
		display: block;
	}
}

header {
	background-color: $e-office;
	height: 98px;
	width: 100%;
	position: relative;
	z-index: 4;
	&>.container {
		position: absolute;
		left: 0;
		right: 0;
	}
	.logo {
		margin-top: 9px;
		height: 80px;
    width: 80px;
		margin-left: $gutter;
		display: block;
		position: relative;
		z-index: 2;
		@media screen and (max-width: $desktop) {
			height: 52px;
			width: 52px;
		}
		@media screen and (max-width: $desktop) {
			margin-left: $gutter-m;
		}
	}
	@media screen and (max-width: $desktop) {
		height: 70px;
	}
}

footer {
	background-color: $black;
	color: $white;
	padding-top: $vgutter;
	padding-bottom: $vgutter;
	hr {
		border: 0;
		background-color: $silver;
		height: 1px;
		width: 100%;
	}
	a {
		color: $silver;
		text-decoration: none;
		border-bottom: 0;
		line-height: 25px;
		padding-bottom: 7px;
		display: block;
		transition: all .25s ease;
		&:hover {
			text-decoration: none;
			color: #ffffff;
		}
	}
	.social {
		text-align: center;
		width: 100%;
		display: block;
		margin-top: 6px;
		&:hover {
			svg {
				path {
					fill: $e-office_light;
				}
			}
		}
		svg {
			height: 36px;
			width: auto;
			path {
				fill: $white;
			}
		}
	}
	.jobs {
		a {
			color: $silver;
			&:hover {
				color: $white;
			}
		}
	}
	.products {
		a {
			color: $silver;
			&:hover {
				color: $white;
			}
		}
	}
	.contact {
		border-left: solid 1px $silver;
		color: $silver;
		a {
			color: $silver;
			&:hover {
				color: $white;
			}
			&.head {
				padding-bottom: 7px;
				display: block;
				line-height: 25px;
			}
		}
		@media screen and (max-width: $desktop) {
			border-left: 0;
			margin-bottom: 30px;
		}
	}
	@media screen and (max-width: $tablet) {
		padding-top: 50px;
		padding-bottom: 0;
	}
}

.copyright {
	height: 50px;
	font-size: 11px;
	line-height: 50px;
	text-align: center;
	color: $black;
	display: flex;
	justify-content: center;
	text-transform: lowercase;
	@media (max-width: $mobile) {
		flex-direction: column;
	}
	@media screen and (max-width: $tablet) {
		span {
			display: none;
		}
	}
	a {
		color: $black;
		text-decoration: none;
		border-bottom: 0;
		&:hover {
			text-decoration: underline;
		}
		@media screen and (max-width: $tablet) {
			color: $white;
			display: block;
			line-height: inherit;
			&:before {
				display: none;
			}
		}
	}
	@media screen and (max-width: $tablet) {
		background-color: $black;
		color: $white;
		height: auto;
		line-height: 20px;
		padding-bottom: 50px;
	}
}

#menu-mini-footer {
	margin: 0;
	padding-left: 10px;
	li {
		display: inline-block;
		@media (max-width: $mobile) {
			display: block;
		}
		border-left: 1px solid #000000;
		line-height: 15px;
		padding-left: 10px;
		padding-right: 6px;
		@media (max-width: $tablet) {
			border-left: none;
		}
	}
}

.hero {
	height: 770px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -2;
	&#map {
		z-index: 1;
	}
	.overlay {
		background: rgba(0,0,0,0.2);
		background: linear-gradient(to bottom, rgba(0,0,0,0.1) 50%, rgba(0,0,0,1) 120%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
		height: 100%;
		width: 100%;
	}
}

main {
	position: relative;
	z-index: 3;
	.content {
		background-color: $white;
		padding-top: $gutter;
		margin-top: 50px;
		&.front-page {
			margin-top: 0;
		}
		&.single {
			padding-bottom: $gutter;
			font-size: 18px;
			line-height: 30px;
			.category {
				font-size: 20px;
				line-height: 30px;
				font-style: italic;
			}
			.author {
				color: $silver;
				font-size: 12px;
				line-height: 17px;
				font-weight: 600;
				text-transform: uppercase;
				display: flex;
				align-items: center;
				margin-bottom: $gutter;
				a {
					border-bottom: 0;
				}
				.portrait {
					width: 100px;
					height: 100px;
					border-radius: 50%;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					margin-right: 20px;
				}
				.metadata {
					h4 {
						margin-top: 0;
						margin-bottom: 0;
						a {
							color: $black;
							font-size: 12px;
							text-transform: uppercase;
							text-decoration: none;
						}
					}
					.views {
						display: none;
					}
				}
			}
			hr {
				border: 0;
		    height: 1px;
		    background-color: $e-office;
				margin-top: $gutter;
		    margin-bottom: $gutter;
			}
			h4 {
				font-size: inherit;
			}
			img {
				max-width: 100%;
				height: auto;
			}
			.embed-container {
				position: relative;
				padding-bottom: 56.25%;
				height: 0;
				overflow: hidden;
				max-width: 100%;
				iframe, object, embed {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
		&.magazine {
			.filters {
				font-size: 20px;
				line-height: 36px;
				font-weight: 400;
				padding-bottom: 25px;
				.text {
			    margin-right: 7px;
					@media screen and (max-width: $tablet) {
						display: none;
					}
				}
				.select_wrap {
					position: relative;
					background-color: $gallery;
					padding: 8px 0;
					margin-right: 10px;
					select {
						-webkit-appearance: none;
						-moz-appearance: none;
						border-radius: 0;
						border: 0;
						font-family: $font-primary;
						padding: 0 35px 0 8px;
						font-size: 20px;
						background-color: $gallery;
						font-weight: 400;
						@media screen and (max-width: $mobile) {
							font-size: 18px;
						}
						&:focus {
							outline: none;
						}
						&::-ms-expand {
							display: none;
						}
					}
					&:after {
						content:"";
				    position: absolute;
						right: 10px;
						top:18px;
				    z-index: 1;
				    text-align: center;
				    width: 16px;
				    height: 100%;
				    pointer-events: none;
						border-left: 8px solid transparent;
					  border-right: 8px solid transparent;
					  border-top: 8px solid $black;
					}
				}
				.quicksearch {
					width: 220px;
					border: 0;
					border-bottom: solid 1px $e-office;
					border-radius: 0;
					font-size: 20px;
					line-height: 36px;
					padding: 0;
					color: #000;
					position: relative;
					right: -21px;
					background-color: #efefef;
					margin-bottom: 0;
					padding-left: 10px;
					&::placeholder {
						color: #000;
					}
				}
				svg {
					width: 21px;
					height: 21px;
					margin-top: 10px;
					position: relative;
					z-index: 1;
					right: 10px;
				}
			}
			#magazine {
				.module {
					width: 282px;
				}
			}
		}
		&.jobs {
			font-size: 20px;
			line-height: 36px;
			.module__content.video {
				&>div:first-of-type {
					float: left;
				}
			}
		}
		&.products {
			font-size: 20px;
			line-height: 36px;
		}
		&.contact {
			margin-top: 350px;
			h1 {
				margin: 0;
			}
		}
		&.thanks {
			margin-bottom: 0;
			margin-top: 350px;
			padding-bottom: $gutter;
			height: auto;
			text-align: center;
			display: flex;
  		align-items: center;
			justify-content: center;
			font-size: 20px;
			line-height: 30px;
			svg {
				max-width: 280px;
				height: auto;
				.cls-1 {
					fill: #f7941e;
				}

				.cls-2 {
					fill: #ed1c24;
				}

				.cls-3 {
					fill: #63378a;
				}

				.cls-4 {
					fill: #fff;
				}
			}
			h1 {
				margin-top: 40px;
				margin-bottom: 20px;
				font-size: 30px;
				line-height: 36px;
				text-transform: capitalize;
			}
		}
	}
}

// Feedback button
.feedback {
	height: 32px;
	width: 100px;
	text-align: center;
	background-color: $e-office_light;
	color: $white;
	position: fixed;
	z-index: 3;
	left: -38px;
	top: 300px;
	padding-top: 3px;
	display: block;
	transform: rotate(-90deg);
	font-size: 18px;
	line-height: 24px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: -2px 0px 0px $e-office;
	transition: all 0.1s ease;
	text-decoration: none;
	&:hover {
		left: -35px;
		text-decoration: none;
	}
	@media screen and (max-width: $tablet) {
		display: none;
	}
}

// Modal used globally
#modal {
	display: none;
	&.visible {
		display: block;
	}
	#overlay {
		background-color: transparentize($black, 0.4);
		position: fixed;
		display: flex;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 3;
		justify-content: center;
		align-items: center;
		#box {
			background-color: $white;
			border-radius: 5px;
			width: 100%;
			max-width: 450px;
			position: relative;
			margin: 0 auto;
			z-index: 4;
			padding-top: 50px;
			padding-bottom: $gutter;
			@media screen and (max-width: $mobile) {
				border-radius: 0;
				height: 100%;
				overflow: scroll;
			}
			input[type=checkbox], input[type=radio] {
				height: 25px;
				margin-bottom: 0;
			}
			#close_modal {
				position: absolute;
				right: $gutter/2;
				top: $gutter/2;
				cursor: pointer;
				width: 25px;
				height: 25px;
				svg {
					float: right;
					width: 20px;
					height: 20px;
					line {
						stroke: $e-office;
						stroke-width:1px;
					}
				}
			}
			#newsletter,
			#callmeback,
			#feedback {
				display: none;
			}
		}
	}
}

.div404 {
	overflow: hidden;
	.svg404 {
		width: 40px;
    	position: absolute;
		top: 10px;
		left: 33px;
		@media (max-width: $tablet) {
			width: 25px;
		    top: 5px;
		    left: 20px;
		}
	}
	> p {
		font-size: 20px;
		line-height: 1.5;
	}
	&-wrapper {
		position: relative;
		&-h1 {
			letter-spacing: 10px;
			@media (max-width: $tablet) {
				letter-spacing: 7px;
			}
		}
	}
}

.is-checked {
	background: tomato;
}
