.button, button, input[type=submit] {
  height: 42px;
  background-color: $e-office;
  color: $white;
  border-radius: 6px;
  display: inline-block;
  line-height: 42px;
  padding: 0 20px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  &:hover {
    background-color: $e-office_dark;
    color: $white;
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
  &.white {
    color: $black;
    background-color: transparentize($white, 0.2);
    padding: 5px 15px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.1s ease;
    line-height: 32px;
    font-weight: 400;
    &:hover {
      background-color: $white;
    }
  }
}
