/*
	****************** Colors ******************
*/

$e-office: #633689;
$e-office_dark: #3F125E;
$e-office_light: #8D6DAA;

$cape-cod: #3C4042;
$gallery: #EFEFEF;
$silver: #C3C3C3;
$light: #FCFCFC;

$white: #FFFFFF;
$black: #222222;
