#cookie {
    height: auto;
    max-height: 400px;
    background-color: $black;
    color: $silver;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.1s ease;
    position: relative;
    z-index: 9;

    &.close {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
    }

    &.hidden {
        display: none;
    }

    #cookie_close {
        cursor: pointer;

        svg {
            width: 12px;
            height: 12px;

            line {
                stroke: $silver;
                stroke-width: 1px;
            }
        }

        &:hover {
            svg {
                line {
                    stroke: $white;
                }
            }
        }
    }
}
