input, textarea {
  font-size: 14px;
  border: solid 2px $gallery;
  border-radius: 6px;
  height: 42px;
  line-height: 42px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 20px;
  color: $e-office;
  font-family: $font-primary;
  &:focus {
    border-color: $e-office;
  }
}
textarea {
  height: 100px;
  resize: none;
  line-height: 18px;
}
