@mixin arrow_after($size, $top, $left) {
  border-style: solid;
  border-width: 1px 1px 0 0;
  content: '';
  display: inline-block;
  height: $size;
  position: relative;
  top: $top;
  left: $left;
  float: right;
  transform: rotate(45deg);
  vertical-align: middle;
  width: $size;
}

@mixin box_shadow($color) {
  box-shadow: 0 3px 6px 0 transparentize($color, 0.84);
}

@mixin link_border($color, $borcol) {
  text-decoration: none;
  color: $color;
  border-bottom: solid 1px $borcol;
  padding-bottom: 4px;
  transition: all 0.25s ease;
  &:hover {
    text-decoration: none;
    border-bottom-color: $e-office;
  }
}
