.module {
    padding-bottom: $gutter/2;

    &:last-of-type {
        .module__newsletter_signup {
            margin-bottom: -$gutter/2;
        }

        .module__fp--vision {
            margin-bottom: -$gutter/2;
        }

        .module__partners {
            margin-bottom: -$gutter/2;
        }
    }

    hr {
        border: 0;
        height: 1px;
        background-color: $e-office;
        margin-top: $gutter;
        margin-bottom: $gutter;
    }
    // Special homepage modules
    &__fp {
        &--sticky-posts {
            &--single {
                background: rgba(255, 255, 255, 0.85);
                transition: background 0.5s ease;
                width: 31%;
                margin: 50px 1%;
                @include box_shadow($black);
                &:hover {
                  background: rgba(255, 255, 255, 1);
                  transition: background 0.5s ease;
                }
                a {
                    display: block;
                    margin-top: 14px;
                    color: $e-office;
                    text-decoration: underline;;
                    border-bottom: none;
                    &:hover {
                      color: $e-office_dark;
                    }
                }
                @media (max-width: $desktopHD) {
                    width: 48%;

                    &:last-of-type {
                        display: none;
                    }
                }
                padding: 0 15px 20px;
                &--cat {
                  color: $silver;
                  text-transform: uppercase;
                }
                &--title {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 600;
                    margin: 0 0 15px;
                    a {
                      color: $black;
                      text-decoration: none;
                      &:hover {
                        color: $e-office;
                      }
                    }
                }
            }
        }
        // Producten block on front-page
        &--producten {
            line-height: 32px;
            margin-bottom: $gutter;
            text-align: right;

            h2 {
              text-align: center;
                a {
                  font-size: 50px;
                  font-weight: 600;
                  line-height: 68px;
                  text-transform: lowercase;
                  text-align: center;
                  margin-top: 0;
                  color: $black;
                  text-decoration: none;
                  @media screen and (max-width: $tablet) {
                      font-size: 30px;
                      line-height: 41px;
                  }
                }
            }

            a {
              font-size: 20px;
              line-height: 36px;
            }

            &__wrap {
                display: flex;
                flex-wrap: wrap;
                text-align: left;

                h3 {
                  a {
                    font-size: 20px;
                    line-height: 27px;
                  }
                }

                a {
                    border-bottom: solid 1px $white;
                    transition: all 0.25s ease;
                    text-decoration: none;
                    color: $black;
                    font-size: 14px;
                    line-height: 32px;
                    &:hover {
                        border-bottom: solid 1px $e-office_light;
                        text-decoration: none;
                    }
                }

                hr {
                    margin-top: 0;
                    margin-bottom: 20px;
                    @media screen and (max-width: $tablet) {
                        background-color: $silver;
                    }
                }

                &__category {
                    margin-bottom: 20px;
                    @media screen and (max-width: $tablet) {
                        &.open {
                            .wrap {
                                max-height: 900px;
                                overflow: hidden;
                            }

                            h3 {
                                span {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }

                    .wrap {
                        transition: all 0.3s ease;
                        @media screen and (max-width: $tablet) {
                            max-height: 0;
                            overflow: hidden;
                        }
                    }

                    h3 {
                        font-weight: 400;
                        border-bottom: solid 1px $e-office_light;
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                        @media screen and (max-width: $tablet) {
                            cursor: pointer;
                            border-bottom-color: $silver;
                        }

                        span {
                            float: right;
                            transition: all 0.2s ease;
                            display: none;
                            @media screen and (max-width: $tablet) {
                                display: block;
                            }

                            svg {
                                width: 11px;
                                height: 11px;

                                path {
                                    fill: $black;
                                }
                            }
                        }
                    }
                }
            }

        }

        // magazine block on front-page
        &--magazine {
            padding-top: $gutter;
            padding-bottom: $gutter;
            text-align: right;
            font-size: 14px;
            line-height: 21px;
            &--a {
              font-size: 20px;
              line-height: 36px;

            }

            & h2 {
              text-align: center;
                a {
                  font-size: 50px;
                  font-weight: 600;
                  line-height: 68px;
                  text-transform: lowercase;
                  text-align: center;
                  margin-top: 0;
                  color: $black;
                  text-decoration: none;
                  @media screen and (max-width: $tablet) {
                      font-size: 30px;
                      line-height: 41px;
                  }
                }
            }
            #magazine {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              .module {
                position: relative;
      					width: 282px;
                margin: 0 9px;
      				}
            }
        }
        // Vision block on front-page
        &--vision {
            background-color: $e-office_light;
            color: $white;
            padding-top: $gutter;
            padding-bottom: $gutter;
            text-align: center;
            font-size: 20px;
            line-height: 36px;

            h2 {
              a {
                font-size: 50px;
                font-weight: 600;
                line-height: 68px;
                text-transform: lowercase;
                text-align: center;
                margin-top: 0;
                color: $white;
                text-decoration: none;
                @media screen and (max-width: $tablet) {
                    font-size: 30px;
                    line-height: 41px;
                }
              }
            }

            p {
              a {
                color: $white;
                font-weight: 600;
                @include link_border($white, $e-office_dark);
                &:hover {
                  color: $e-office_dark;
                }
              }
            }
        }
        //Customer stories on front-page
        &--customer_stories {
            h2 {
              text-align: center;
                a {
                  font-size: 50px;
                  font-weight: 600;
                  line-height: 68px;
                  text-transform: lowercase;

                  margin-top: 0;
                  color: $black;
                  text-decoration: none;
                  @media screen and (max-width: $tablet) {
                      font-size: 30px;
                      line-height: 41px;
                  }
                }
            }
            .stories--logos {
                display: flex !important;
                flex-wrap: wrap;
                justify-content: space-around;
                padding-right: 40px;
            }
            &--right {
                border-left: 1px solid $e-office;
                padding-bottom: 30px;
                @media (max-width: $desktop) {
                    border-left: 0;
                }
            }
            &--left {
                margin-top: 30px;
                &--link {
                    margin-right: 40px;
                    font-size: 20px;
                    color: $e-office;
                }
            }
        }
        // Jobs block on front-page
        &--jobs {
          text-align: right;
            .module__jobs_list__item {
                position: relative;
                text-align: left;

                &:hover {
                    .module__jobs_list__item__content {
                        &:after {
                            left: auto;
                            right: 45px;
                        }
                    }
                }

                &__content {
                    visibility: hidden;
                    height: 0;
                    padding: 0;

                    &:after {
                        visibility: visible;
                        top: 25px;
                        position: absolute;
                        right: 50px;
                        left: auto;
                    }
                }
            }
        }
    }
    //Content block
    &__content {
        h2 {
          a {
            font-size: 50px;
            font-weight: 600;
            line-height: 68px;
            text-transform: lowercase;
            text-align: left;
            @media screen and (max-width: $tablet) {
                font-size: 30px;
                line-height: 41px;
            }
          }
        }

        &.none {
            text-align: center;
            font-size: 20px;
            line-height: 36px;
            a {
              @include link_border($black, $e-office_light);
            }
        }

        &.video {
            font-size: 18px;
            line-height: 36px;
        }

        &.contact_form {
            font-size: 20px;
            line-height: 36px;

            h1 {
                font-size: 20px;
                line-height: 36px;
            }
        }

        &__contact_form {
          .ao-form {
            input {
              height: 42px !important;
            }
            textarea, input {
              resize: none !important;
              font-size: 14px !important;
              border: solid 2px $gallery !important;
              border-radius: 6px !important;
              line-height: 42px !important;
              width: 100% !important;
              margin-bottom: 0 !important;
              padding: 10px 20px !important;
              color: $e-office !important;
              font-family: $font-primary !important;
              &:focus {
                border-color: $e-office !important;
              }
            }
            button {
              height: 42px !important;
              background-color: $e-office !important;
              color: $white !important;
              border-radius: 6px !important;
              display: inline-block !important;
              line-height: 42px !important;
              padding: 0 20px !important;
              border: 0 !important;
              cursor: pointer !important;
              text-decoration: none !important;
              font-size: 14px !important;
              font-weight: 600 !important;
              &:hover {
                background-color: $e-office_dark !important;
                color: $white !important;
                text-decoration: none !important;
              }
            }
          }
        }

        &__video {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            max-width: 100%;
            height: auto;

            .youtube {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                display: inline-block;
                overflow: hidden;
                transition: all 200ms ease-out;
                cursor: pointer;
                width: 100%;
                height: 100%;

                .play {
                    background: url('../images/play.svg');
                    background-size: 64px 64px;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    opacity: 0.85;
                    filter: alpha(opacity=80);
                    transition: all 0.2s ease-out;

                    &:hover {
                        opacity: 1;
                        filter: alpha(opacity=100);
                    }
                }
            }

            embed,
            iframe,
            object {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        h2 {
            text-align: left;
        }
    }

    //Social shares
    &__social {
      border-left: solid 1px $gallery;
      padding-bottom: 200px;
      @media screen and (max-width: $desktop) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-left: 0;
        padding-bottom: 0;
      }
      &--item {
        display: block;
        width: 100%;
        max-width: 225px;
        height: 48px;
        margin-bottom: 14px;
        line-height: 48px;
        color: $white;
        text-decoration: none;
        font-weight: 600;
        border-radius: 3px;
        transition: all 0.25s ease;
        overflow: hidden;
        @media screen and (max-width: $desktop) {
          width: 19%;
          max-width: none;
        }
        &:hover {
          color: $white;
          &.facebook {
            background-color: darken(#3D7DBE, 10%);
          }
          &.twitter {
            background-color: darken(#42C6F3, 10%);
          }
          &.linkedin {
            background-color: darken(#297CB7, 10%);
          }
          &.email {
            background-color: darken($e-office_light, 10%);
          }
          &.whatsapp {
            background-color: darken(#29C1AA, 10%);
          }
        }
        &>span {
          display: inline-block;
          float: left;
          width: 48px;
          height: 48px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          text-align: center;
          background-color: transparentize($black, 0.92);
          margin-right: 7px;
          @media screen and (max-width: $desktop) {
            width: 100%;
          }
          svg {
            width: 25px;
            position: relative;
            top: 5px;
            path {
              fill: $white;
            }
          }
        }
        &.facebook {
          background-color: #3D7DBE;
        }
        &.twitter {
          background-color: #42C6F3;
        }
        &.linkedin {
          background-color: #297CB7;
        }
        &.email {
          background-color: $e-office_light;
        }
        &.whatsapp {
          background-color: #29C1AA;
          @media screen and (min-width: $desktop) {
            display: none;
          }
          &>span {
            svg {
              padding: 4px;
            }
          }
        }
      }
    }
    //Newsletter signup global
    &__newsletter_signup {
        background-color: $e-office_light;
        text-align: center;
        padding-top: $gutter*2;
        padding-bottom: $gutter*2;
        font-size: 20px;
        line-height: 27px;
        @media screen and (max-width: $tablet) {
            padding-top: $gutter;
            padding-bottom: $gutter;
        }

        a {

            font-weight: 600;
            text-decoration: none;
            @include link_border($white, $e-office_dark);
        }
    }
    //Call back global
    &__call_back {
        padding-top: $gutter;
        padding-bottom: $gutter*2;
        margin-bottom: $gutter;
        @media screen and (max-width: $desktop) {
            height: auto;
        }

        h2 {
            text-align: center;
        }

        &__wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            @media screen and (max-width: $desktop) {
                flex-wrap: wrap;
                align-items: baseline;
            }

            &__item {
                text-align: center;
                padding-right: $gutter/2;
                padding-left: $gutter/2;

                &:hover {
                    img {
                        transform: scale(1, 1);
                    }
                }

                &:nth-of-type(3) {
                    @media screen and (max-width: $mobile) {
                        padding-left: 0;
                        padding-right: 0;
                    }
                    &:hover {
                      img {
                          transform: scale(1, 1);
                      }
                    }

                    img {
                        width: 225px;
                        height: 225px;
                        transform: scale(0.9, 0.9);
                        @media screen and (max-width: $desktop) {
                            width: 160px;
                            height: 160px;
                        }
                        @media screen and (max-width: $mobile) {
                            width: 130px;
                            height: 130px;
                        }
                    }

                    .info {
                        width: 225px;
                        opacity: 1;
                        @media screen and (max-width: $desktop) {
                            width: auto;
                        }
                    }
                }

                &:nth-of-type(2) {
                    @media screen and (min-width: $desktop) {
                        &:hover {
                            img {
                                transform: scale(1, 1);
                            }

                            .info {
                                opacity: 1;
                            }
                        }
                    }
                    @media screen and (max-width: $mobile) {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
                @media screen and (max-width: $desktop) {
                    &:nth-of-type(1) {
                        display: none;
                    }

                    &:nth-of-type(2),
                    &:nth-of-type(3) {
                        width: 50%;
                        margin-bottom: 20px;
                    }
                }

                &__contact {
                    font-weight: 600;
                    @include link_border($black, $e-office_light);
                    &.circle {
                        border-bottom: 0;
                        &:hover {
                          span {
                            transform: scale(1.1, 1.1);
                          }
                        }

                        span {
                            border-radius: 100%;
                            background-color: $e-office;
                            width: 100px;
                            height: 100px;
                            line-height: 120px;
                            color: $white;
                            display: inline-block;
                            transition: all 0.1s ease;
                            transform: scale(1, 1);

                            svg {
                                max-height: 32px;
                                max-width: 32px;

                                path {
                                    fill: $white;
                                }
                            }
                        }
                    }
                }

                .spacer {
                    height: 230px;
                    width: 33px;
                }

                img {
                    width: 160px;
                    height: 160px;
                    transition: all 0.1s ease;
                    border-radius: 50%;
                    transform: scale(0.95, 0.95);
                    @media screen and (max-width: $mobile) {
                        width: 130px;
                        height: 130px;
                    }
                }

                .info {
                    opacity: 0;
                    display: block;
                    width: 160px;
                    position: absolute;
                    transition: all 0.1s ease;
                    @media screen and (max-width: $desktop) {
                        opacity: 1;
                        position: static;
                        margin: 0 auto;
                    }

                    h4 {
                        margin-bottom: 0;
                    }
                }
            }
        }

        h2 {
            font-size: 30px;
            line-height: 41px;
        }
    }

    &__apply_now {
      margin: 0 auto;
      width: 150px;
      display: block;
    }

    //Product category global
    &__product_cat {
        h3 {
            font-weight: 400;
        }

        a {
            border-bottom: solid 1px $white;
            line-height: 32px;
            padding-bottom: 4px;
            font-size: 14px;
            transition: all 0.25s ease;
            color: $black;
            text-decoration: none;

            &:after {
                transition: all 0.25s ease;
                @include arrow_after(12px, 17px, 0);
            }

            &:hover {
              border-bottom: solid 1px $e-office_light;
              text-decoration: none;
                &:after {
                    left: 5px;
                }
            }
        }

        hr {
            height: 1px;
            background-color: $e-office_light;
            border: 0;
            margin-right: $gutter;
            margin-left: $gutter;
            @media screen and (max-width: $tablet) {
                margin-right: $gutter-m;
                margin-left: $gutter-m;
            }
        }
    }
    //Vision on vision template
    &__vision_block {
        &__item {
            display: flex;
            align-items: center;

            &__image {
                text-align: center;
                img {
                  max-width: 90%;
                  height: auto;
                }

                &.even {
                    margin-left: 50%;
                    @media screen and (max-width: $tablet) {
                        margin-left: 0;
                    }
                }
            }

            &__content {
                padding-top: $gutter;

                &:before {
                    content: "";
                    width: 50%;
                    height: 1px;
                    background-color: $e-office_light;
                    display: block;
                    position: relative;
                    top: -$gutter;
                    @media screen and (max-width: $tablet) {
                        width: 100%;
                        top: 0;
                    }
                }

                &.even {
                    text-align: right;
                    margin-left: -100%;

                    &:before {
                        float: right;
                    }
                    @media screen and (max-width: $tablet) {
                        text-align: left;
                        margin-left: 0;
                    }
                }
            }
            @media screen and (max-width: $tablet) {
                display: block;
            }
        }

        &__divider {
            margin: 0 auto;
            display: block;
            max-width: 650px;
            width: 100%;

            &:last-of-type {
                display: none;
            }

            &.even {
                transform: scaleX(-1);
            }
            @media screen and (max-width: $tablet) {
                display: none;
            }
        }
    }
    // user info
    &__user {
        position: relative;
        margin-top: 40px;

        &__portrait {
            border-radius: 50%;
            width: 265px;
            height: 265px;
            margin: 0 auto;
            position: relative;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @media (max-width: 1050px) {
                width: 160px;
                height: 160px;
            }
            @media (max-width: $tablet) {
                &--single {
                    width: 260px;
                    height: 260px;
                }
            }
        }

        h4 {
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            margin-bottom: 5px;
        }

        .job {
            text-align: center;
            font-style: italic;
            margin-bottom: 40px;
        }

        .social-icons {
            padding-bottom: 5px;
            margin-bottom: 40px;
            border-bottom: solid 1px #8D6DAA;

            a {
                border-bottom: none;
                cursor: pointer;
            }

            &--mobile {
              svg {
                padding: 6px;
              }
            }

            svg {
                width: 30px;

                path {
                    fill: $e-office;

                    &:hover {
                        fill: $e-office_light;
                    }
                }
            }
        }
    }
    // Filter for user list
    .filter--button {
        display: none;
        @media (max-width: $mobile) {
            display: block;
        }
        cursor: pointer;
        font-size: 20px;
        padding: 20px 0;

        &-arrow {
            width: 11px;
            position: absolute;
            right: 20px;
            margin-top: 10px;
            transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
            fill: #000;
        }

        .arrow-open {
            transform: rotate(180deg);
            transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    }

    .is-open {
        max-height: 700px;
        transition: max-height 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &__user_filter {
        border-bottom: solid 1px $e-office;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $gutter;
        @media (max-width: $mobile) {
            flex-direction: column;
            max-height: 0;
            transition: max-height 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
            overflow: hidden;
            //transition: height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        div {
            width: 20%;
            height: 55px;
            @media (max-width: 1300px) {
                width: 25%;
            }
            @media (max-width: 1050px) {
                width: 33%;
            }
            @media (max-width: $mobile) {
                width: 100%;

                &:first-of-type {
                    margin-top: 10px;
                }
            }

            a {
                border-bottom: 0;
                padding-bottom: 0;
                font-size: 18px;
                line-height: 24px;
                height: 39px;
                padding: 10px;
                color: $black;
                text-decoration: none;
                @media (max-width: 875px) {
                    font-size: 16px;
                }

                &:hover {
                    background-color: $e-office;
                    color: $white;
                    text-decoration: none;
                }

                &.active {
                    background-color: $e-office;
                    color: $white;
                }
            }
        }
    }
    // User list for people pages
    &__user_list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        &__wrap {
            &__user {
                height: 160px;
                width: 160px;
                text-align: center;
                border-radius: 50%;
                background-size: cover;
                background-repeat: no-repeat;
                margin-bottom: $gutter;
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                padding-bottom: 0;
                border-bottom: 0;
                @media (max-width: $tablet) {
                    height: 150px;
                    width: 150px;
                }
                @media (max-width: $mobile) {
                    height: 160px;
                    width: 160px;
                }

                &:hover {
                  text-decoration: none;
                  @media screen and (min-width: $mobile) {
                    & > div {
                        display: flex;
                    }
                  }
                }

                &>div {
                    width: 100%;
                    height: 100%;
                    display: block;
                    background-color: transparentize($e-office,0.2);
                    border-radius: 50%;
                    color: $white;
                    display: none;
                    align-items: center;
                    justify-content: center;

                    div {
                        width: 85%;

                        h4 {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    //Partner logo's for product page
    &__partners {
        background-color: $light;
        padding-top: 30px;
        padding-bottom: 30px;

        h2 {
          text-align: center;
          font-size: 50px;
          line-height: 68px;
          margin-top: 0;
          color: $black;
          text-decoration: none;
        }

        a {
            border-bottom: 0;
        }

        &__wrap {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;

            &__logo {
                width: calc(100% / 5);
                padding-top: $gutter/2;
                padding-bottom: $gutter/2;
                filter: grayscale(100%);
                transition: all 0.1s ease;
                text-align: center;

                &:hover {
                    filter: grayscale(0);
                }

                img {
                    max-height: 45px;
                    max-width: 150px;
                    margin: 0 auto;
                }
                @media screen and (max-width: $desktop) {
                    width: calc(100% / 3);
                }
                @media screen and (max-width: $tablet) {
                    width: calc(100% / 2);
                }
            }
        }
    }
    //Single text column for single
    &__single_column_text {
        font-size: 18px;
        line-height: 30px;
        @media screen and (max-width: $tablet) {
            font-size: 18px;
        }
    }
    //Double text column for single
    &__double_column_text {
        font-size: 18px;
        line-height: 30px;
        @media screen and (max-width: $tablet) {
            font-size: 18px;
        }
    }
    //Numeration for product page (possibly other singles)
    // TODO:
    &__numeration {
        font-size: 18px;
        line-height: 27px;

        h3 {
            text-align: right;
            @media screen and (max-width: $tablet) {
                text-align: left;
                font-size: 18px;
            }
        }
    }

    &__video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        height: auto;

        .youtube {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            display: inline-block;
            overflow: hidden;
            transition: all 200ms ease-out;
            cursor: pointer;
            width: 100%;
            height: 100%;

            .play {
                background: url('../images/play.svg');
                background-size: 64px 64px;
                position: absolute;
                height: 100%;
                width: 100%;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0.8;
                filter: alpha(opacity=80);
                transition: all 0.2s ease-out;

                &:hover {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
            }
        }

        embed,
        iframe,
        object {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__post_list_basic {
        margin-bottom: $gutter;

        &__meta {
            color: $silver;

            &__type {
                text-transform: uppercase;
            }
        }

        h3 {
            font-size: 20px;
            line-height: 27px;
            font-weight: 600;
            margin-top: 14px;
            margin-bottom: 14px;

            a {
                color: $black;
                text-decoration: none;
            }
        }

        a {
            color: $e-office;
            border-bottom: 0;
        }
    }

    &__magazine_single {
        @include box_shadow($black);
        text-align: left;
        @media (max-width: $desktop) {
            display: flex !important;
            flex-wrap: wrap;
            flex-direction: row;
            margin-bottom: 15px;
        }

        &:hover {
          .module__magazine_single--overlay {
            opacity: 1;
          }
          .module__magazine_single--title {
            h3 {
              color: $e-office;
            }
          }
          .module__magazine_single--link {
            text-decoration: underline;
          }
        }

        a {
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }

        &--event {
          background-color: $e-office;
          color: $white;
          width: 100%;
          height: 171px;
          text-align: center;
          display: block;
          .cal {
            width: 80%;
            height: auto;
            margin: 0 auto;
            padding-top: 20px;
            display: block;
            .cls-1, .cls-2 {
              fill: $white;
            }

            .cls-2 {
              stroke: $e-office;
              stroke-width: 2px;
            }

            .cls-3 {
              stroke: none;
            }

            .cls-4 {
              fill: none;
            }
          }
          .month {
            display: block;
            position: relative;
            top: -30px;
            color: $e-office;
            font-size: 20px;
            text-transform: lowercase;
          }
          .day {
            display: block;
            color: $white;
            font-size: 80px;
            margin-top: 10px;
          }
          &--overlay {
            width: 100%;
            background-color: transparentize($black, 0.9);
            position: absolute;
            top: 0;
            opacity: 0;
            transition: opacity 0.2s ease;
          }
        }

        &--image {
            img {
              width: 100%;
            }
            &--overlay {
              width: 100%;
              background-color: transparentize($black, 0.9);
              position: absolute;
              top: 0;
              opacity: 0;
              transition: opacity 0.2s ease;
            }
        }

        &--text {
            padding: 10px 10px 20px;
        }

        &--title {
            h3 {
              margin: 0;
              color: $black;
            }
        }

        &--text-p {
            @media (max-width: $mobile) {
                display: none;
            }
        }

        &--cat {
            text-transform: uppercase;
            color: $silver;
        }

        &--link {
            color: $e-office;
            text-decoration: underline !important;
            border-bottom: none;
            &:hover {
              color: $e-office_dark;
            }
        }

        a {
            border-bottom: 0;
            padding-bottom: 0;
        }
        @media (max-width: $desktop) {
            width: 100% !important;
        }
    }

    &__jobs_list {
        &__item {
            &:hover {
                .module__jobs_list__item__content {
                    &:after {
                        left: 25px;
                    }
                }
            }

            &__content {
                display: inline;
                width: calc(100% - 30px);
                font-size: 14px;

                &:after {
                    @include arrow_after(20px, -10px, 20px);
                    transition: all 0.1s ease;
                    @media screen and (max-width: $mobile) {
                        display: none;
                    }
                }

                .dots {
                    @media screen and (max-width: $mobile) {
                        display: none;
                    }
                }

                .readmore {
                    color: $e-office;
                    display: none;
                    @media screen and (max-width: $mobile) {
                        display: inline;
                    }
                }
                @media screen and (max-width: $mobile) {
                    width: 100%;
                }
            }

            a {
                border-bottom: 0;
                color: $black;
                display: block;
                text-decoration: none;
                &:hover {
                  text-decoration: none;
                }
            }

            h3 {
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 18px;
            }

            small {
                font-size: 18px;
                font-style: italic;
            }

            img {
                height: 28px;
                width: auto;
            }

            hr {
                margin-top: 10px;
                margin-bottom: 30px;
            }
        }
    }
}

.people-module {
    @media (max-width: $tablet) {
        display: none !important;
    }
}

.arrow-back {
    display: none;
}
@media (max-width: $tablet) {
    .arrow-back {
        display: block;
        cursor: pointer;
        position: absolute;
        top: -40px;

        svg {
            transform: rotate(90deg);
            width: 22px;
        }
    }
}
