//General header and footer navigation
nav {
	&.header {
		ul {
			float: right;
			padding: 0 18px 0 0;
			position: relative;
			z-index: 2;
			background: $e-office;
			li {
				float: left;
	      margin-left: 37px;
				&:first-of-type {
					margin-left: 0;
					@media screen and (max-width: $tablet) {
						margin-left: 40px;
					}
				}
	      &.english {
	        background-color: $e-office_light;
	        border-radius: 50%;
	        width: 36px;
	        height: 36px;
	        text-align: center;
	        margin-top: 31px;
					transition: background-color 0.25s ease;
					&:hover {
						background-color: $e-office-dark;
						text-decoration: none;
						a {
							border-bottom: 0;
						}
					}
	        a {
	          line-height: 36px;
						border-bottom: 0;
						@media screen and (max-width: $tablet) {
							color: $white;
							font-size: 15px;
						}
	        }
					@media screen and (max-width: $desktop) {
						margin-top: 17px;
					}
	      }
				&.current-menu-item:not(.english) {
					a {
						border-bottom: solid 1px $white;
						@media screen and (max-width: $tablet) {
							border-bottom-color: $e-office;
						}
					}
				}
				a {
					line-height: 98px;
					color: $white;
					text-transform: uppercase;
					font-size: 15px;
					padding: 6px 0;
					border-bottom: solid 1px $e-office;
					transition: border-bottom 0.25s ease;
					&:hover {
						border-bottom: solid 1px $e-office_light;
						text-decoration: none;
					}
					@media screen and (max-width: $desktop) {
						line-height: 70px;
					}
					@media screen and (max-width: $tablet) {
						color: $black;
						font-size: 25px;
						line-height: 55px;
						font-weight: 300;
					}
				}
				@media screen and (max-width: $desktopHD) {
					margin-left: 20px;
				}
				@media screen and (max-width: $desktop) {
					margin-left: 17px;
				}
				@media screen and (max-width: $tablet) {
					float: none;
					margin-left: $gutter;
					margin-right: $gutter;
				}
			}
			@media screen and (max-width: $tablet) {
				float: none;
				margin-top: 50px;
				margin-bottom: 50px;
				background-color: transparent;
			}
		}
		@media screen and (max-width: $tablet) {
			position: absolute;
			top: -300vh;
			right: 0;
			left: 0;
			z-index: 3;
			height: 100vh;
			background-color: $gallery;
			transition: top 0.2s ease;
			&.open {
				top: 0;
				overflow: scroll;
			}
		}
	}
	&.footer {
		ul {
			margin-top: 20px;
			li {
				margin-bottom: 10px;
				a {
					color: $white;
					text-transform: lowercase;
					&:after {
						content: "";
						width: 100%;
						height: 1px;
						background-color: $silver;
						display: block;
						margin-top: 7px;
						margin-bottom: 7px;
					}
					&:hover {
						color: $e-office_light;
						text-decoration: none;
					}
				}
				ul {
					li {
						margin-bottom: 0;
						a {
							text-transform: none;
							color: $silver;
							&:after {
								display: none;
							}
							&:hover {
								color: $white;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
	&.single_meta {
		height: 30px;
		margin-top: 270px;
		@media screen and (max-width: $mobile) {
			padding-left: $gutter-m;
			padding-right: $gutter-m;
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			a {
				text-decoration: none;
				font-size: 14px;
			}
		}
	}
}

//Trigger for responsive navigation
#nav_trigger {
	width: 62px;
	height: 70px;
	position: relative;
	cursor: pointer;
	z-index: 99;
	display: none;
	&.active {
		height: 42px;
		.bar {
			background-color: $black;
			&:first-of-type {
				transform: rotate(45deg);
				top: 40px;
			}
			&:nth-of-type(2) {
				opacity: 0;
			}
			&:last-of-type {
				transform: rotate(-45deg);
				bottom: -1px;
			}
		}
	}
	.bar {
		width: 42px;
		height: 2px;
		background-color: $white;
		position: absolute;
		left: 0;
		right: 0;
		transition: all 0.2s ease;
		&:first-of-type {
			top: 25px;
		}
		&:nth-of-type(2) {
			top: 34px;
			width: 21px;
		}
		&:last-of-type {
			bottom: 25px;
		}
	}
	@media screen and (max-width: $tablet) {
		display: block;
	}
}
