#search_trigger {
  height: 98px;
  background-color: $gallery;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
  svg {
    width: 28px;
    height: 28px;
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
      width: 14px;
      height: 14px;
    }
    path {
      fill: $cape-cod;
      @media screen and (max-width: $tablet) {
        fill: $white;
      }
    }
    @media screen and (max-width: $tablet) {
      width: 21px;
      height: 21px;
    }
  }
  @media screen and (max-width: $desktop) {
    width: 47px;
    height: 47px;
    float: right;
  }
  @media screen and (max-width: $tablet) {
    background-color: transparent;
    width: 70px;
    height: 70px;
  }
}

.search_wrap {
  position: relative;
  margin: 0 auto;
  max-width: $desktopHD;
  #search_field {
    background-color: $gallery;
    position: absolute;
    top: -52px;
    right: 0;
    padding: 5px 10px;
    border-bottom-left-radius: 10px;
    transition: bottom 0.1s ease;
    &.active {
      top: 0;
      z-index: 4;
      @media screen and (min-width: $tablet) and (max-width: $desktop) {
        top: -5px;
      }
    }
    input {
      border: 0;
      background-color: $gallery;
      font-size: 20px;
      font-family: $font-primary;
      padding: 5px 10px;
      width: 300px;
      margin: 0;
      color: $black;
      @media screen and (min-width: $tablet) and (max-width: $desktop) {
        padding: 12px 10px;
        height: 47px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
      }
      @media screen and (max-width: $tablet) {
        background-color: $white;
        width: 100%;
      }
    }
    @media screen and (max-width: $desktop) {
      bottom: 65px;
      background-color: transparent;
      right: 37px;
    }
    @media screen and (max-width: $tablet) {
      z-index: -1;
      left: 0;
      bottom: 30px;
      margin-right: 0;
      position: relative;
      border-bottom-left-radius: 0;
      background-color: $white;
      box-shadow: 0px 3px 6px transparentize($black, 0.84);
    }
  }
}


// SEARCH RESULTS

#search_trigger--results {
  height: 53px;
  width: 53px;
  background-color: $gallery;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  svg {
    width: 21px;
    height: 21px;
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
      width: 14px;
      height: 14px;
    }
    path {
      fill: $cape-cod;
    }
    @media screen and (max-width: $tablet) {
      width: 21px;
      height: 21px;
    }
  }
}

.search-results {
  background: #FFF;
  padding-bottom: 45px;
  margin-top: 164px;
  .module__user__portrait {
    width: 100px;
    height: 100px;
    margin: inherit;
    float: left;
    margin: 30px 30px 30px 0;
  }
  &__header {
    background: $e-office;
    &--wrapper {
      padding-top: 22px;
      > h2 {
        color: $white;
      }
    }
    &--searchfield {
      position: relative;
    }
  }
  &__ul {
    margin: 0;
    padding-right: 40px;
    @media (max-width: $mobile) {
      padding: 0 10px;
    }
    li {
      list-style-type: none;
      margin: 40px 0;
    }
    &--a {
      text-decoration: none;
      &:hover {
        color: $e-office-dark;
      }
      & > h2 {
        border-bottom: 1px solid $e-office;
        display: table;
        padding-bottom: 5px;
        margin: 0px 0px 10px;
      }
    }
    &--p {
      font-size: 18px;
      line-height: 1.5;
      display: table;
      & > div {
        font-size: 18px;
        line-height: 1.5;
      }
      a {
        display: block;
        margin-top: 20px;
        color: $e-office;
        border-bottom: 0;
      }
    }
    &--post-type {
      color: $silver;
      margin: 0;
      text-transform: uppercase;
    }
  }
  &__inputfield {
    font-size: 20px;
    font-weight: 700;
    height: 53px;
    border-radius: 13px 0 0 13px;
    &:focus {
      border-color: $white;
    }
    &::-webkit-input-placeholder {
      color: $black;
    }
  }
}

.no-results {
  padding: 40px 0 70px;
  h3 {
    padding-left: 18px;
  }
  &__ul {
    li {
      color: $e-office;
      list-style-type: disc;
      font-size: 20px;
      margin-bottom: 27px;
      span {
        color: $black;
      }
    }
  }
}

.search-results__inputfield:focus::-webkit-input-placeholder  {color:transparent;}
.search-results__inputfield:focus::-moz-placeholder   {color:transparent;}
.search-results__inputfield:-moz-placeholder   {color:transparent;}
