$font-primary : "Lato", sans-serif;

html, body {
	font-family: $font-primary;
	font-size: 14px;
	line-height: 21px;
}

h1 {
	font-size: 50px;
	font-weight: 600;
	line-height: 68px;
	text-transform: lowercase;
	margin-top: 150px;
	margin-bottom: 81px;
	&.front-page {
		text-align: center;
		margin-top: auto;
		margin-bottom: auto;
	}
	&.single {
		margin-top: auto;
		margin-bottom: auto;
		text-transform: none;
	}
	&.light {
		color: $white;
	}
	@media screen and (max-width: $tablet) {
		font-size: 30px;
		line-height: 41px;
	}
}

h2 {
	font-size: 30px;
	font-weight: 600;
	line-height: 41px;
	@media screen and (max-width: $tablet) {

	}
}

h3 {
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

h4 {
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
}

h5 {
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
}

h6 {
	font-size: 11px;
	font-weight: 600;
	line-height: 18px;
}
