#watson {
  height: 500px;
  position: relative;
  padding-bottom: 65px;
  @media screen and (max-width: $mobile) {
    height: 300px;
  }
  &:hover {
    #scroll_release {
      opacity: 0.7;
    }
  }
  #scroll_release {
    width: 30px;
    height: 30px;
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    color: $e-office;
    cursor: pointer;
    z-index: 3;
    opacity: 0.2;
    transition: opacity 0.25s ease;
    @include box_shadow($black);
    &:hover {
      opacity: 1
    }
    &.hide {
      display: none;
    }
  }
  #conversation {
    overflow: hidden;
    max-height: calc(100% - 65px);
    position: absolute;
    bottom: 65px;
    width: 100%;
    &.scroll {
      overflow-y: scroll;
      padding-right: 5px;
      .conversation {
        opacity: 1 !important;
      }
    }
    .conversation {
      background-color: $white;
      display: inline-block;
      float: left;
      padding: 10px 15px;
      @include box_shadow($black);
      margin-bottom: 20px;
      clear: both;
      opacity: 0;
      display: flex;
      width: 100%;
      &:before {
        // TODO: needs better icon, preferably svg
        content: url('../images/e-office_logo.svg');
        width: 32px;
        display: inline;
        margin-top: 5px;
        margin-right: 10px;
      }
      &>div {
        display: inline;
        width: calc(100% - 40px);
      }
      &:last-child {
        opacity: 1;
      }
      &:nth-last-child(2) {
        opacity: 0.8;
      }
      &:nth-last-child(3) {
        opacity: 0.5;
      }
      &:nth-last-child(4) {
        opacity: 0.2;
      }
      &:nth-last-child(5) {
        opacity: 0.1;
      }
      button {
        @extend .button;
        height: 30px;
        line-height: 30px;
        padding: 0 13px;
        margin-right: 10px;
      }
    }
    .conversationQuestion {
      @extend .conversation;
      width: auto;
      display: block;
      &:before {
        display: none;
      }
      float: right;
      background-color: $e-office;
      color: $white;
      &:first-of-type {
        display: none;
      }
    }
  }
  .input {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    animation: chatfadeup 0.75s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation-delay: 0.5s;
    input {
      width: calc(100% - 100px);
    }
    button {
      width: 90px;
    }
  }
  #r1 {
    animation: chatfade 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation-delay: 0;
  }
}

@keyframes chatfadeup {
    0% {
        transform: translate(0, 50px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0px);
        opacity: 1;
    }
}

@keyframes chatfade {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}
